@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:wght@100;300;400;700;900&display=swap');


html {
  scroll-behavior: smooth;
}
body {
    background-color: #3B6064;
    font-family: "Lato", sans-serif;
    color: #C9E4CA;
}
header {
    background-color: #364958;
}

h1,h2,h3,h4, h5, h6 {
    font-family: "Amatic SC", sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    color: #C9E4CA;
}

img {
    padding-top: 2rem;
    padding-bottom: 2rem;
    vertical-align: text-bottom;
}

.navbar {
    background-color: #364958;
    position:absolute;
}

.navbar a {
    text-decoration: none;
    color: #C9E4CA;
}

a:hover {
    color:#87BBA2;
}

/*padding, margin and placement*/
.row {
    padding:0;
    margin:0;
}


.about-section {
       background-image: none;
       position: relative;
        padding-top: 5rem;
        padding-bottom: 0rem;
    }

.prices-section > p {
    text-align: justify;
}

.comment-icon {
    font-size: 2rem;
}

.review {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.social-icon {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.btn-primary{
    background-color:#87BBA2;
    color: #3B6064;
    border: 0;
}

#logo {
    font-family: "Amatic SC", sans-serif;
    text-transform: uppercase;
    font-size: 110%;
    font-weight: 700;
}

#welcome {
    background-color: #3B6064;
    padding-bottom: 0.5rem;
    border: 1px;
}

#address {
    text-align: center;
}

#phone {
    text-align: center;
}

#contact-form {
    padding-top:1.5rem;
    padding-bottom: 3rem;
}
/*external links*/

#social-image {
    line-height: 2rem;
    font-size: 2rem;
    color: #C9E4CA;
}

#emailHelp {
    color: #C9E4CA;
}


@media screen and (min-width: 480px) {
    .about-section {
    background-image: url(../images/camping-pods.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
    padding-bottom: 10rem;
    }
}