/*-------colors-----*/
body {
    background-color: #3B6064;
}
header {
    background-color: #364958;
}

/*------fonts-------*/
body {
    font-family: "Lato", sans-serif;
    color: #C9E4CA;
}
h1,h2,h3,h4 {
    font-family: "Amatic SC", sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/*------header-------*/

.navbar a {
    text-decoration: none;
    color: #C9E4CA;
}

a:hover {
    color:#87BBA2;
}

/*------padding and margins-------*/

.about-section {
    padding-top:90px
}

.about-section h2 {
    text-align: center;
    padding-bottom: 20px;
}

/*------external links-------*/

a {
    text-decoration: none;
    color: #C9E4CA;
}

#social-image {
    line-height: 16em;
    color: #C9E4CA;
}